{% extends 'testBlog/base.html' %}
{% block content %}
<div style="width: 100%; font-size:40px">{{obj.title}}</div>
<br>
{{obj.content}}
<br>
<div style="font-style: italic; align-self: right; font-size:15px">Autor: {{obj.author}}</div>
<br style="margin-bottom: 20px;">
<a href="/comentario/{{obj.id}}" class="btn btn-primary" style="margin: 0px 30% 0px">Nuevo comentario</a>
<br>
Comentarios:
<ul style="list-style-type: none;">
{% for com in comments %}
    <li>
      <div class="card" style="margin-bottom:1%; padding: 20px;">
        <div style="width: 100%; font-size:20px">{{ com.content}}</div>
        <div style="font-size:15px; font-style: italic;">Autor: {{ com.author}}</div>
      </div>
    </li>
{% endfor %}
{% endblock %}
